/* Embedded PDF Formatting */
.pdf-wrapper {
    position: relative;
    width: 100%;
    /* For US Letter (8.5:11) */
    padding-bottom: 129.4%;
    /* For A4 paper */
    /* padding-bottom: 141.4%; */
}

.pdf-object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
